@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");

:root{
    --cor-de--fundo: #ffffff;
    --cor-do-menu: #edb3b2a7;
    --titulo: #541e12;
    --cor-do-menu--fundo: #edb3b2;
    --link-1: #541e12;
    --link-2: #541e12;
    --link-3: #541e12;
    --fonte-principal:"Fasthand"
}
body{
 background-color: var(--cor-de--fundo);
 font-family: 'Playfair Display', serif;
 font-size: 16px;
 font-weight: 400;
}
#more {display: none;}
